[submodule "pljava"]
	path = pljava
	url = git@github.com:sourcewave/pljava.git
[submodule "postgres-project"]
	path = postgres-project
	url = git@github.com:sourcewave/postgres.git
[submodule "pg_jinx"]
	path = pg_jinx
	url = git@github.com:sourcewave/pg_jinx.git
[submodule "mupdf"]
	path = mupdf
	url = git://git.ghostscript.com/mupdf.git
[submodule "plv8js"]
	path = plv8js
	url = https://code.google.com/p/plv8js/
